In [1]:
import pandas as pd
import matplotlib

In [39]:
file = '../women-stem.csv'
df = pd.read_csv(file)
df.head()

,Rank,Major_code,Major,Major_category,Total,Men,Women,ShareWomen,Median
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,2057,282,0.120564,110000
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,679,77,0.101852,75000
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,725,131,0.153037,73000
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,1123,135,0.107313,70000
4,5,2418,NUCLEAR ENGINEERING,Engineering,2573,2200,373,0.144967,65000

In [35]:
sharewomen_mean = df['ShareWomen'].mean()
print(sharewomen_mean)

0.43692924057894733

In [25]:
sharewomen_median = df['ShareWomen'].median()
print(sharewomen_median)

0.4058678835

In [36]:
#mean of sharewomen among engineering only
sharewomen_mean = df1['ShareWomen'].mean()
print(sharewomen_mean)

0.23888867596551724

In [38]:
#median of sharewomen among engineering only
sharewomen_median = df1['ShareWomen'].median()
print(sharewomen_median)

0.227117943

In [40]:
#print mean age by major
by_major_mean = df.groupby(df['ShareWomen']).mean()
print(by_major_mean)

            Rank  Major_code     Total      Men     Women    Median
ShareWomen
0.077453    44.0      2504.0    4790.0   4419.0     371.0   40000.0
0.101852     2.0      2416.0     756.0    679.0      77.0   75000.0
0.107313     4.0      2417.0    1258.0   1123.0     135.0   70000.0
0.119559     8.0      2414.0   91227.0  80320.0   10907.0   60000.0
0.120564     1.0      2419.0    2339.0   2057.0     282.0  110000.0
...          ...         ...       ...      ...       ...       ...
0.864456    67.0      4002.0   18909.0   2563.0   16346.0   35000.0
0.881294    59.0      6199.0   13386.0   1589.0   11797.0   36000.0
0.896019    27.0      6107.0  209394.0  21773.0  187621.0   48000.0
0.927807    41.0      6104.0   11123.0    803.0   10320.0   42000.0
0.967998    75.0      6102.0   38279.0   1225.0   37054.0   28000.0

[76 rows x 6 columns]

In [41]:
#limit dataset to engineering majors
df1 = df[df['Major_category'] == 'Engineering']
print(df1.head())

   Rank  Major_code                                      Major Major_category  \
0     1        2419                      PETROLEUM ENGINEERING    Engineering
1     2        2416             MINING AND MINERAL ENGINEERING    Engineering
2     3        2415                  METALLURGICAL ENGINEERING    Engineering
3     4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4     5        2418                        NUCLEAR ENGINEERING    Engineering

   Total   Men  Women  ShareWomen  Median
0   2339  2057    282    0.120564  110000
1    756   679     77    0.101852   75000
2    856   725    131    0.153037   73000
3   1258  1123    135    0.107313   70000
4   2573  2200    373    0.144967   65000

In [34]:
#only engineering majors
by_major_engineering_mean = df1.groupby('ShareWomen').mean()
print(by_major_engineering_mean)

            Rank  Major_code    Total      Men    Women    Median
ShareWomen
0.077453    44.0      2504.0   4790.0   4419.0    371.0   40000.0
0.101852     2.0      2416.0    756.0    679.0     77.0   75000.0
0.107313     4.0      2417.0   1258.0   1123.0    135.0   70000.0
0.119559     8.0      2414.0  91227.0  80320.0  10907.0   60000.0
0.120564     1.0      2419.0   2339.0   2057.0    282.0  110000.0
0.139793     9.0      2401.0  15058.0  12953.0   2105.0   60000.0
0.144967     5.0      2418.0   2573.0   2200.0    373.0   65000.0
0.153037     3.0      2415.0    856.0    725.0    131.0   73000.0
0.174123    39.0      2501.0   2906.0   2400.0    506.0   44000.0
0.183985    14.0      2409.0   4321.0   3526.0    795.0   58000.0
0.189970    22.0      2499.0   9133.0   7398.0   1735.0   50000.0
0.196450    10.0      2408.0  81527.0  65511.0  16016.0   60000.0
0.199413    11.0      2407.0  41542.0  33258.0   8284.0   60000.0
0.200023    45.0      2599.0   8804.0   7043.0   1761.0   40000.0
0.227118    23.0      2406.0  53153.0  41081.0  12072.0   50000.0
0.249190    28.0      2503.0   4631.0   3477.0   1154.0   46000.0
0.251389    24.0      2500.0   3600.0   2695.0    905.0   50000.0
0.252960    17.0      2400.0  61152.0  45683.0  15469.0   56000.0
0.292607    20.0      2502.0  11565.0   8181.0   3384.0   52000.0
0.310820    12.0      5008.0   4279.0   2949.0   1330.0   60000.0
0.320784    15.0      2402.0   8925.0   6062.0   2863.0   57100.0
0.322222    25.0      2411.0    720.0    488.0    232.0   50000.0
0.325092    21.0      2413.0   2993.0   2020.0    973.0   52000.0
0.341631     6.0      2405.0  32260.0  21239.0  11021.0   65000.0
0.342229    26.0      2410.0   4047.0   2662.0   1385.0   50000.0
0.343473    16.0      2412.0  18968.0  12453.0   6515.0   57000.0
0.350442    18.0      2403.0   2825.0   1835.0    990.0   54000.0
0.437847    13.0      2404.0  14955.0   8407.0   6548.0   60000.0
0.451465    47.0      1401.0  46420.0  25463.0  20957.0   40000.0

In [43]:
#max sharewomen
max(df['ShareWomen'])

0.967998119

In [44]:
#min sharewomen
min(df['ShareWomen'])

0.077453027

In [45]:
#max sharewomen engineering only
max(df1['ShareWomen'])

0.451464886

In [46]:
#min sharewomen engineering only
min(df1['ShareWomen'])

0.077453027

In [ ]:
#Independent learning: I found the max and min of the sharewomen column, and then I also found the max and min of the sharewomen column out of only engineering majors.